<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        * {
            font-family: Arial;
            font-weight: 100;
        }

        h1, h2 {
            color: white;
        }

        table, tr, th 
        {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            padding: 10px;
        }

        table {
            background-color: beige;
        }

        body {
            background-color: darkslategrey;
        }
    </style>
</head>
<body>
    <h1>Skriptsprachen</h1>
    <!--Build a table for each type of scripting language-->
    {% for type in type_list %}
    <h2>{{ type.name }}</h2>
    <table>
        <tr>
            <th style="font-weight: bold; background-color: sandybrown;">Skriptsprache</th>
            <th style="font-weight: bold; background-color: sandybrown;">Beschreibung</th>
            <th style="font-weight: bold; background-color: sandybrown;">Zusatzinfos</th>
        </tr>
        <!--Go through all scripting languages per category/type-->
        {% for x in lang_list %}
            {% if x.type_id == type.id %}
            <tr>
                <th>{{ x.name }}</th>
                <th>{{ x.desc }}</th>
                <th>
                    <ul>
                        <!--Populate the last column with additional info-->
                        {% for z in info_list %}
                            {% if z.lang_id == x.id %}
                                <li> {{ z.field }}: {{ z.info }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </th>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>